h1 {
    color: blue;
    text-align: center;
}
p {
  text-align: center;
}

a {
  text-decoration:none;
  color: black;
}

a:hover {
  text-decoration:underline;
}

.span{
  font-size:100%;
  font-family: arial,sans-serif;
  padding: 20px;
  margin-left:20px;
}

#advtitle>h1{
  color:#d93025;
  font-weight:lighter;
  text-align:left;
  font-family: arial,sans-serif;
  font-size:20px;
  margin: 25px 35px
}

.line{
  border-bottom: 1px solid #ebebeb;
  margin-bottom:45px;
}
.searchbox{
  width: auto;
  max-width: 584px;
  display: flex;
  z-index: 3;
  height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 638px;
  width: auto;
  max-width: 584px;
}


.searchbox:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

}

.box {
  width:auto;
  background-color: red;
}

.buttons{
    padding-top: 18px;
    height: 70px;
}

.button{
  background-color: #f8f9fa;
border: 1px solid #f8f9fa;
border-radius: 4px;
color: #3c4043;
font-family: arial,sans-serif;
font-size: 14px;
margin: 11px 4px;
padding: 0 16px;
line-height: 27px;
height: 36px;
min-width: 54px;
text-align: center;
cursor: pointer;
user-select: none;
}

.button:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
background-color: #f8f9fa;
border: 1px solid #dadce0;
color: #202124;
}

#glass{
  display: inline-block;
  margin:auto;
}

#inputfield{
  display: inline-block;
  margin: auto;
  width: 90%;
  border-style: none;
}

#logo {
    height: 220px;
    margin: auto;
    position: relative;
    padding-top:40px;
    text-align: center;
    width: 391px;
}

#header{
    height: 48px;
}

.link{
  width:auto;
  padding:20px;
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
  display: inline;
  float: right;
  font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif
}

.link:hover{
  text-decoration:underline;
}

.description{
  display: inline-block;
  width:20%;
  padding: 20px;
  margin-left:20px;
  font-family: arial,sans-serif;
  font-size:15px;
}

.advinput{
  display:inline-block;
  width: 50%;
}

.advinput>input{
  width: 80%;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top-color: rgb(217, 217, 217);
  border-top-style: solid;
  border-top-width: 1px;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

#advbutton{
  width: 870px;
  height: 40px;
}

#advbutton>input{
    background-color:#357ae8;
    color:white;
    float:right;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: centre;
    white-space: nowrap;
    margin: auto;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
}

#advbutton>input:hover{
  border: 1px solid #2f5bb7;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;

}
